/*body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }*/

  body {
    height: 100vh;
  }

  #content {
    padding-top: 25vh;
  }

  .weatherCards {
    width: 10rem;
  }

  #locationButton {
    margin-left: 1vw;
  }